*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

button{
   width: 200px;
   height: 40px;
   background:rgb(240, 240, 240);
   text-align: center;
   border: 1px solid blue;
   outline: none;
   border-radius: 4px;
   font-size: 20px;
   font-weight: 400;
   animation: anim 0.8s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   cursor: pointer;
   margin: 10px;
}

button:hover{
   background:#fff;
}

button:active{
   background:black;
   color: #fff;
}

@keyframes anim{
   from{
      box-shadow: 1px 1px 30px 10px blue;
   }
   to{
      box-shadow: 2px 2px 20px 10px blue;
   }
}


 .container{
   background:url('./img/realistic-soccer-football-stadium-illustration_52683-60377.avif');
   width:100%;
   height: 100vh;
   background-repeat:no-repeat;
   background-size:cover;
 }

 .wrapper{
   width:100%;
   height: 100vh;
   background:url('./img/c.jpg');
   background-repeat:no-repeat;
   background-size:cover;
   animation-name: back;
   animation-direction:alternate-reverse;
   animation-duration: 4s;
   animation-iteration-count:infinite;
 }

 .buttons{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items:center;
   justify-content: center; 
 }

 .start , .quit{
   transform: translateY(80px);
 } 

 @keyframes back{
   0%{
      background:url('./img/pyqaawxxfwzeiib35hsm.webp');
      background-repeat:no-repeat;
      background-size:cover;
   }
   25%{
      background:url('./img/2.jpeg');
      background-repeat:no-repeat;
      background-size:cover;
   }
   50%{
      background:url('./img/3.webp');
      background-repeat:no-repeat;
      background-size:cover;
   }
   75%{
      background:url('./img/4.jpg');
      background-repeat:no-repeat;
      background-size:cover;
   }
 }

 .game{
   background:url('./img/ppp.jpg');
   width:100%;
   height: 100vh;
   background-repeat:no-repeat;
   background-size:cover; 
   position: relative;
 }

 .boots{
   position: absolute;
   bottom: 50px;
   right: 50px;
   cursor: pointer;
 }

 .boots:active , .boots img {
   background:#fff;
   border-radius:50%;
 }

 .ball{
   position: absolute;
   bottom:10px;
   left: 50%;
   transform: translateX(-50%);
 }

 .goal{
   position: absolute;
   top: 55%;
   left: 45%;
 }

 .boots img{
   width: 150px;
   transform: scaleX(-1);
   border:1px solid rgb(255, 255, 255);
   background:rgba(167, 150, 150, 0.565);
   border-radius:50%;
   padding: 30px 0;
 }

 .ball img{
   width:90px;
   height: 80px;
 }

.goal img{
   width: 150px;
}