*{
   margin:0 ;
   padding: 0;
   box-sizing:border-box;
   font-family: sans-serif;
}

body{
   display: flex;
   align-items:center;
   justify-content: center;
   min-height: 100vh;
   background:linear-gradient(to left top, #373739 , #d3d3d3 )
}

.contaier {
   max-width: 1100px;
   width: 100%;
   position: relative;
}

.ul{
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: calc((100% / 3) - 12px);
   gap: 16px;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   scrollbar-width: 0;
}
.ul::-webkit-scrollbar{
   display: none;
}
.ul.dragging{
   scroll-snap-type: none;
   scroll-behavior: auto;
}
.ul.dragging li {
   user-select: none;
   cursor:grab;
}

.contaier i {
   width: 50px;
   height: 50px;
   text-align: center;
   background:#fff;
   cursor: pointer;
   position: absolute;
   border-radius:50%;
   line-height: 50px;
   top: 50%;
   transform: translateY(-50%);
   border:1px solid rgba(0, 0, 0, 0.557);
}

.contaier i:first-child{
   left: -22px;
}
.contaier i:last-child{
   right: -22px;
}

.li{
   scroll-snap-align: start;
   list-style: none;
   background:#fff;
   border-radius: 8px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
   padding: 15px;
}

.title{
   font-size: 25px;
   font-weight: 700;
}

.p{
   font-size: 18px;
   padding: 10px 0;
}

.ul button {
   padding: 8px;
   border-radius:4px;
}

@media screen and (max-width:950px) {
   .ul{
      grid-auto-columns: calc((100% / 2) - 9px);
   }
}

@media screen and (max-width:650px) {
   .ul{
      grid-auto-columns: 100%;
   }
}